<div id="welcome" class="hero-unit span7">
  <h1>API Site</h1>
  <h3>Learn to build a successful subscription site.</h3>
  <%= link_to "Join now!", new_user_registration_path(), :class => "btn btn-large btn-primary" %>
  
</div>

</div>